<header id="header" class="menu-header">
  <img src="assets/images/Logo_black.jpg" class="logo" title="Ichoui® Logo">
  <div class="menu-right">
    <div *ngIf="user; else login">
      <!--<span id="logout" class="icon-logout" title="Se déconnecter"></span>-->
      <div id="logout">
        <img id="googlephoto" src="{{ user.photoURL }}" title="{{ user.displayName }}" alt="Photo Google" (click)="toggleIdentity()">
      </div>
      <div id="content-logout" [@logoutMenu]='etat'>
        <span class="identity">{{ user.displayName }}</span>
        <span class="login" [routerLink]="['/login']">Page de connexion</span>
        <span class="signout" title="Se déconnecter" (click)="userService.logout()"><span class="icon-logout"></span>Se déconnecter</span>
      </div>
    </div>

    <ng-template #login>
      <span [routerLink]="['/login']" id="login" class="icon-login" title="Se connecter"></span>
    </ng-template>

    <div class="block-burger" (click)="toggleMenu()">
      <div class="text-burger" id="text-b">MENU</div>
      <div class="burger" id="hamburger-1">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>
</header>

<section [@rotateAnimation]='state' id="nav" class="nav">
  <div class="icon">
    <menu>
      <li [routerLink]="['/home']" routerLinkActive="active-route" (click)="toggleMenu()">
        <a>
          <span class="icon-menu icon-home"></span>
          <span class="page">Accueil</span>
        </a>
      </li>
      <li *ngIf="admin" [routerLink]="['/jump/tools']" routerLinkActive="active-route" (click)="toggleMenu()">
        <a>
          <span class="icon-menu icon-jump"></span>
          <span class="page">Jump</span>
        </a>
      </li>
<!--      <li [routerLink]="['/curriculum/profil']" routerLinkActive="active-route" (click)="toggleMenu()">
        <a>
          <span class="icon-menu icon-cv"></span>
          <span class="page">CV</span>
        </a>
      </li>-->
    </menu>
  </div>

  <div class="info">
    <div class="name">Ichoui®</div>
    <div class="quote">Site personnel ©</div>
    <div class="social">
      <a target="_blank" href="https://facebook.com/ichoui" class="fb">
        <i class="fa fa-facebook"></i>
      </a>
      <a target="_blank" href="https://twitter.com/ichoui" class="tw">
        <i class="fa fa-twitter"></i>
      </a>
      <a target="_blank" href="https://instagram.com/ichouiii" class="ig">
        <i class="fa fa-instagram"></i>
      </a>
      <a target="_blank" href="https://gitlab.com/Ichoui" class="gitlab">
        <i class="fa fa-gitlab"></i>
      </a>
    </div>
  </div>
</section>

<section class="container layer">
  <div class="offset">
    <router-outlet></router-outlet>
  </div>
</section>

<div id="overlay"></div>
