<header class="menu-header">
  <img src="assets/images/Logo_black.jpg" class="logo" alt="Ichoui Logo">
  <div class="menu-right">
    <div class="block-burger" (click)="toggleMenu()">
      <div class="text-burger">Menu</div>
      <div class="burger" id="hamburger-1">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>
</header>
<section [@rotateAnimation]='state' id="nav" class="nav">
  <div class="icon">
    <menu class="">
      <li [routerLink]="['/home']" routerLinkActive="active-route">
        <a><i class="fa fa-home"></i><span>Home</span></a>
      </li>
      <li [routerLink]="['/velib']" routerLinkActive="active-route">
        <a>
          <i class="fa fa-bicycle"></i><span>Vélo'Toulouse</span></a>
      </li>
      <li [routerLink]="['/jump']" routerLinkActive="active-route">
        <a><i class="fa fa-cloud"></i><span>Jump</span></a>
      </li>
    </menu>
  </div>

  <div class="info">
    <div class="name">Ichoui®</div>
    <div class="quote">Personal website ©</div>
    <div class="social">
      <a target="_blank" href="https://facebook.com/ichoui"><i class="fa fa-facebook"></i></a>
      <a target="_blank" href="https://twitter.com/ichoui"><i class="fa fa-twitter"></i></a>
      <a target="_blank" href="https://instagram.com/ichouiii"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</section>

<section class="offset container">
  <router-outlet></router-outlet>
</section>

<div id="overlay"></div>
