@import "../../../styles/shared";

$width-menu: 300px;
$width-menu-responsive: 425px;

#header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  z-index: 1299;
  box-shadow: 3px 2px 12px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  a.logo {
    margin-left: 100px;
    color: white;
  }
  .logo {
    width: 200px;
    height: 65px;
    margin-left: 45px;
    margin-top: 12.9px;
    opacity: .6;
    transition: all .5s ease;
    &:hover {
      opacity: 1;
      color: white;
    }
  }
  .menu-right {
    display: flex;
    align-self: center;
    #login {
      color: $menu-top-right;
      font-size: 1.8em;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid $menu-top-right;
      padding: 8px;
      &:hover {
        color: white;
        border-color: white;
        cursor: pointer;
      }
    }

    #logout {
      color: $menu-top-right;
      font-size: 2.5em;
      margin-right: 10px;
      position: relative;
      overflow: hidden;
      &:hover {
        color: yellow;
        cursor: pointer;
      }
      #googlephoto {
        width: 60px;
        border-radius: 50%;
      }
    }
    #content-logout {
      position: fixed;
      display: flex;
      //visibility:hidden;
      align-items: flex-end;
      right: 140px;
      flex-direction: column;
      width: fit-content;
      height: auto;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      margin-top: 5px;
      span {
        font-size: 1.1em !important;
        padding: 0 5px ;
      }
      .identity {
        margin-top: 5px;
        text-transform: uppercase;
      }
      .login {
        margin-top: 5px;
        cursor:pointer;
      }
      .signout {
        margin: 5px 0;
        .icon-logout {
          margin-left: 5px;
          font-size: 1.1em !important;
          padding-right: 6px;
        }
        &:hover {
          cursor: pointer;
          .icon-logout {
            color: #e6e67a;
          }
        }
      }

    }

    .block-burger {
      display: flex;
      margin-right: 10px;
      align-items: center;
      width: 150px;
      cursor: pointer;
      .text-burger {
        //display: block;
        background-color: $menu-top-right;
        border-radius: 100px;
        color: #fff;
        line-height: 15px;
        padding: 15px 70px 13px 15px;
        margin-right: -70px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      .burger {
        margin-left: 20px;
        overflow: hidden;
        background-color: white;
        opacity: 1;
        border-radius: 50%;
        padding: 10px;
        .line {
          width: 30px;
          height: 3px;
          background-color: $menu-top-right;
          display: block;
          margin: 5px auto;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.shadw {
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}

.visibility {
  visibility:visible !important ;
}

.extend-burger {
  padding: 15px 75px 13px 15px !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 500;
}

///////////////////////////

.nav {
  height: 100%;
  position: fixed;
  left: -10px;
  top: 0;
  z-index: 1000;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow-x: initial;
}

.icon {
  position: absolute;
  width: $width-menu;
  box-shadow: 3px 2px 12px 0px rgba(0, 0, 0, 0.4);
  top: 0;
  z-index: 980;
  height: 100%;
  background: $menu-bg;
  //background: $brand-primary;
  border-right: $menu-bg;
  backface-visibility: hidden;
  transform-origin: left;
  li:first-child {
    margin-top: 120px;
  }

  li {
    list-style-type: none;
    a {
      line-height: 64px;
      text-align: center;
      color: $menu-txt;
      text-shadow: 0 1px 0 hsla(0, 0%, 0%, 1);
      span.icon-menu {
        transition: all .5s ease;
        font-size: 2.5em;
        padding-top: 10px;
      }
      span.page {
        position: absolute;
        left: 120px;
        font-size: 1.4em;
        text-decoration: none;
        transition: all .5s ease;
        text-align: left;
        width: 66%;
        font-family: $armin;
      }
    }
    &:hover {
      outline: none;
      cursor: pointer;
      a {
        color: white;
        span.icon-menu {
          transform: translateX(19px) scale(1.2);
        }
        span.page {
          transform: translateX(20px);
        }
      }
    }
  }
  li.active-route {
    border-right: 5px solid #4b5d69;
    margin-right: 2px;
    border-radius: 10px;
    transition: all .5s ease;
    a {
      color: #4b5d69;
    }
    &:hover {
      border-color: white;
      a {
        color: white!important;
      }
    }

  }
}

.info {
  position: absolute;
  bottom: 30px;
  z-index: 999;
  width: $width-menu;
  color: white;
  text-align: center;
  line-height: 1.6;
  opacity: 1;
  cursor:pointer;
  .name {
    opacity: .6;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all .5s ease;
    color: hsla(0, 0%, 26%, 1);
    text-shadow: -1px -1px hsla(0, 0%, 31%, 1), 1px 1px hsla(0, 0%, 7%, 1);
    font-family: $armin;
    &:hover {
      opacity: 1;
      color: white;
      text-shadow: -1px -1px hsla(0, 0%, 34%, 1),
      1px 1px hsla(0, 0%, 7%, 1);
    }
  }
  .quote {
    color: #444;
    text-shadow: 1px 1px hsla(0, 0%, 7%, 1);
    font-family: $armin;
  }
  .social {
    a {
      font-size: 2em;
      color: hsla(0, 0%, 20%, 1);
      letter-spacing: .5em;
      text-shadow: 1px 1px hsla(0, 0%, 27%, 1),
      -1px -1px hsla(0, 0%, 7%, 1);
      transition: all .5s ease;

      &:hover {
        //color: white;
        text-shadow: -1px -1px hsla(0, 0%, 34%, 1),
        1px 1px hsla(0, 0%, 7%, 1);
      }
    }
    .fb {
      &:hover {
        color: #316cad;
      }
    }
    .tw {
      &:hover {
        color: #1da1f2;
      }
    }
    .ig {
      &:hover {
        color: #bd29a5;

      }
    }
    .gitlab {
      &:hover {
        color: #fe6a3b;

      }
    }
  }
}

/*
Only added a nav query for height bc width is fine
(covers full width of viewport from 270px) down to 220px.
Bottom nav info section is hidden when screen height
hits 550px or below.  Nav still functions as a fly-out
*/

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-height: 550px) {
  .info {
    display: none;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .logo {
    margin: 0 auto !important;
    padding-left: 34px;
  }
  .icon {
    width: $width-menu-responsive;
  }
  .info {
    width: $width-menu-responsive;

  }
}

@media screen and (max-width: 450px) {

}
