<div class="container text-center">
  <img src="assets/images/Logo_black.jpg" class="logo" title="Ichoui® Logo">



  <form action="">
  <h1>Connexion</h1>
    <label for="username">E-mail</label>
    <input type="email" id="username" placeholder="Pseudo">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Mot de passe">
    <button href="#" class="btn" type="submit">Connexion</button>
    <span class="icon-home" [routerLink]="['/home']" title="Retour Home"></span>
  </form>
</div>
