#banff-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 2500px;
  min-height: 1080px;
  z-index: -1;
}

@media screen and (max-width: 1280px) {
  #banff-bg {
    width: 1920px;
  }
}
@media screen and (max-width: 1024px) {
  #banff-bg {
    bottom: -50px;
  }
}

// media query banff-bg quand 1280, quand 1080, tablette et iphone; en % bottom négatif
