<h1 class="title">Accueil</h1>
<div class="welcome" *ngIf="user">
  <span>Bonjour {{ user.displayName }} !</span>
</div>

<div class="welcome">
  <p>Mes projets persos :</p>
  <ul class="list-projects">
    <li><a href="https://api.ichoui.fr" target="_blank">API Images</a></li>
    <li><a href="https://album.ichoui.fr" target="_blank">Albums photos</a></li>
    <li><a href="http://rdr2.ichoui.fr" target="_blank">Red Dead Redemption 2 - Map</a></li>
    <li><a href="https://suelename-project.firebaseapp.com" target="_blank">Suelename.com</a></li>
  </ul>
</div>

<div class="maple">
  <img src="../../../assets/images/maple.png" title="Maple-Coon">
</div>
