@import "../../../styles/shared";

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  span.message {
    font-size: 1.8em;
    font-family: $armin;
  }
  img {
    margin: auto;
    width: 100px;
  }
}

.list-projects {
  text-align: left;
  margin: 0 auto;
  li {
    a {
      color: $brand-darkred;
      text-decoration: none;
      font-family: $armin;
      .icons {
        font-size: 1.6em;
        padding-right: 10px;
      }
      .label-project:hover {
        text-decoration: underline;
      }
    }
  }
}

.maple {
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  left: 50%;
}
