<h1>Curriculum Vitæ</h1>
<h3 class="looking-for-a-job-title">Développeur Front / Intégrateur</h3>
<router-outlet></router-outlet>

<div class="the-switcher">
  <ul>
    <li [routerLink]="['/curriculum/profil']" routerLinkActive="active" title="Profil"></li>
    <li [routerLink]="['/curriculum/formations']" routerLinkActive="active" title="Formations"></li>
    <li [routerLink]="['/curriculum/experiences']" routerLinkActive="active" title="Experiences"></li>
    <li [routerLink]="['/curriculum/loisirs']" routerLinkActive="active" title="Loisirs"></li>
  </ul>
</div>
