@font-face {
  font-family: 'Helvetica-Black';
  src: url('/assets/fonts/Helvetica-Black.eot');
  src: url('/assets/fonts/Helvetica-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Helvetica-Black.woff2') format('woff2'),
  url('/assets/fonts/Helvetica-Black.woff') format('woff'),
  url('/assets/fonts/Helvetica-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monaco';
  src: url('/assets/fonts/Monaco.eot');
  src: url('/assets/fonts/Monaco.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Monaco.woff2') format('woff2'),
  url('/assets/fonts/Monaco.woff') format('woff'),
  url('/assets/fonts/Monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Armin';
  src: url('/assets/fonts/HelveticaNeueARMIN.eot');
  src: url('/assets/fonts/HelveticaNeueARMIN.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueARMIN.woff2') format('woff2'),
  url('/assets/fonts/HelveticaNeueARMIN.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueARMIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

