@font-face {
  font-family: 'maple-icomoon';
  src:  url('/assets/fonts/maple-icomoon.eot?h5iagc');
  src:  url('/assets/fonts/maple-icomoon.eot?h5iagc#iefix') format('embedded-opentype'),
  url('/assets/fonts/maple-icomoon.ttf?h5iagc') format('truetype'),
  url('/assets/fonts/maple-icomoon.woff?h5iagc') format('woff'),
  url('/assets/fonts/maple-icomoon.svg?h5iagc#maple-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maple-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jump:before {
  content: "\e904";
}
.icon-suelename:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-velib:before {
  content: "\e907";
}
.icon-cancel:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e903";
}
