@import "shared";

* {
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
  font-family: $helvetica;
}

body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
  ), url("/assets/images/my_moraine2.png") !important;
  background-size:cover;
  background-repeat: unset;
}


h1, h2, h3 {
  font-family: $armin !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

:focus, :hover, :visited {
  outline:none;
  text-decoration: none;
}

.layer {
  margin-top: 100px;
  background-color: rgba(255,255,255,.6);
  height: 80vh;
  border-radius: 25px;
  position: relative;
}

h1.title {
  color: black;
  overflow: hidden;
}
.offset {
  text-align: center;
}

