/* Fonts */
$monaco:Monaco;
$helvetica:Helvetica-Black;

$brand-primary:rgb(23,2,58);
$gradient-primary:linear-gradient(180deg,rgba(23,2,58,.95) 0,rgba(23,2,58,.85));

/* Menu colors */
$menu-top-right:  hsla(0, 0%, 0%, .5);
$menu-txt: hsla(0, 0%, 60%, 1);
$menu-bg:hsla(0, 0%, 15%, 1);
