$monaco:Monaco;
$helvetica:Helvetica-Black;

$brand-primary:rgb(23,2,58);
$gradient-primary:linear-gradient(180deg,rgba(23,2,58,.95) 0,rgba(23,2,58,.85));

$menu-bg: 1px solid hsla(0, 0%, 0%, .3);
$menu-txt: hsla(0, 0%, 60%, 1);
