/* Fonts */
$monaco:Monaco;
$helvetica:Helvetica-Black, sans-serif;
$armin:Helvetica-Armin, sans-serif;

$brand-green:#a0ce44;
$brand-bluegray:#4b5d69;
$brand-darkred:darkred;

/* Menu colors */
$menu-top-right:  hsla(0, 0%, 0%, .5);
$menu-txt: hsla(0, 0%, 60%, 1);
$menu-bg:hsla(0, 0%, 15%, 1);
