@import "../../../styles/stylefullpage";

.jump-active {
  color:$brand-darkred !important;
}

.projects {
  padding-left: 0;
  .projet {
    cursor:pointer;
    display: inline;
    margin-left: 20px;
    font-size: 1.4em;
    color: $brand-bluegray;
  }
}

