@import "../../../styles/stylefullpage";

.projects {
  padding-left: 0;
  .projet {
    cursor:pointer;
    display: inline;
    margin-left: 20px;
    font-size: 1.4em;
    color: darkred;
  }
}

.test {
  color:orange;
}
