<div class="section-cv">
  <div class="left">
    <img src="/assets/images/portrait_petit.png" alt="Portrait">
  </div>
  <div class="right">
    <p class="identity-name">Morgan NICOL</p>
    <p class="identity-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem impedit laudantium sequi velit voluptatem!
      Alias doloribus, eveniet ex expedita id impedit maiores obcaecati perspiciatis tempora voluptas. Culpa, dolor, labore?
    </p>
    <ul class="identity-infos">
      <li class="phone">06.21.94.44.98</li>
      <li class="mail">nicol.morgan@outlook.fr</li>
      <li class="address">8 Place Saint-Julien,<br>31 000 Toulouse</li>
      <li class="licence">Permis B & Voiture</li>
    </ul>
  </div>
</div>
